<div>
  <h1>Estatisticas dos Mix - North Wind Team</h1>
  <mat-card>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexFill>
      <mat-form-field fxFlex="60">
        <input matInput placeholder="Informe a Partida" [(ngModel)]="partida">
      </mat-form-field>
      <button mat-button color="primary" (click)="addPartidas()" fxFlex="10">Adicionar</button>
      <button mat-button color="primary" (click)="addAllPartidas()" fxFlex="10">Adicionar todas partidas</button>
      <button mat-button color="warn" (click)="searhPartida()" fxFlex="10">Procurar</button>
      <button mat-button color="warn" (click)="clearPartidas()" fxFlex="10">Limpar</button>
    </div>
  </mat-card>
</div>

<div>
  <mat-list fxLayout="row wrap" fxLayoutGap="25px">
    <mat-list-item role="listitem" *ngFor="let partida of partidas; let i = index" fxLayoutGap="20" fxFlex="20"> {{
      partida }}
      <button mat-button (click)="delete(i)"><mat-icon>delete</mat-icon></button></mat-list-item>
  </mat-list>


</div>

<mat-divider></mat-divider>
<mat-checkbox [(ngModel)]="onlyFriends" style="margin-left: 16px; margin-top: 20px;" (click)="showOnlyGroupTeam()">Exibir apenas amigos do grupo</mat-checkbox>
<mat-divider></mat-divider>

<table matSort mat-table style="margin-top: 20px;" [dataSource]="dataSource" class="mat-elevation-z8"
  *ngIf="dataSource.length > 0" (matSortChange)="sortData($event)">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="jogador">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="player"> Player </th>
    <td mat-cell *matCellDef="let element"> {{element.nick}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="totalPartidas">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="totalPartidas"> Total de partidas </th>
    <td mat-cell *matCellDef="let element"> {{element.totalPartidas}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="kdr">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="kdr"> KDR </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'red': element.kdr < 1, 'green': element.kdr > 1}"> {{
      element.kdr | number:'1.1-2'}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="mediaPartida">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="mediaPartida"> Media por Partida </th>
    <td mat-cell *matCellDef="let element"> {{ (element.mediaPartida) | number:'1.1-2' }} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="totalDeKill">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="nb_kill"> Total de kills </th>
    <td mat-cell *matCellDef="let element"> {{element.nb_kill}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="totalDeDeaths">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="death"> Total de deaths </th>
    <td mat-cell *matCellDef="let element"> {{element.death}} </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="kdDiff">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="diff"> KD DIFF </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'green': element.diff > 0, 'red': element.diff < 0}">
      {{element.diff}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="firstkill">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="firstkill"> FK </th>
    <td mat-cell *matCellDef="let element"> {{element.firstkill}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="totalWin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="totalWin"> Total de Vitórias / Derrotas </th>
    <td mat-cell *matCellDef="let element"> {{element.totalWin}}/ {{element.totalPartidas}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="percentualVitoria">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="percentualVitoria"> % de Vitórias </th>
    <td mat-cell *matCellDef="let element"> {{element.percentualVitoria *100 | number:'1.1-2' }}% </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="level"> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.level}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>